dm_tree==0.1.7
gymnasium
matplotlib==3.10.8
numpy==2.4.2
ortools==9.14.6206
pandas==3.0.1
PyYAML==6.0.3
setproctitle==1.2.3
tensorboard==2.20.0
tensorboardX==2.6.4
torch==2.5.1
wandb==0.25.0
python-geohash==0.8.5